
body, html {
  height: 300%;
}

body{
        background: url('./images/winter.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   }

  .hat{
    z-index: 100;
    margin-top: 500px;
    margin-bottom: 5000px;
    position: relative;
    margin-left: 120px ;
    float:left;
    width: 250px;
    
  }

  .coffee{
    z-index: 90;
    position: absolute;
    margin-left: 1200px;
    float:right;
    width: 250px;
    margin-top: 1500px;
     
  }
  
  .head{
    z-index: 2;
    position: fixed;
    
    margin-bottom: 3000px;
    
   
  }

  #face {

    
    width: 1000px;
    
  }

  #eyes {
    position: absolute ;
    left: 280px;
    top: 440px;
    width: 500px;
    
  }

  #hair{
    position: absolute ;
    left: 120px;
    top: 0px;
    width: 800px;
    z-index: 1;
    
  }

  #nose{
    position: absolute ;
    left: 430px;
    top: 600px;
    width: 150px;
  }

  #mouth{
    position: absolute ;
    left: 370px;
    top: 830px;
    width: 300px;
  }


  #ears{
    position: absolute ;
    left: 0px;
    top: 200px;
    width: 1000px;
    
  }