html  {
    height: 100%;
  }

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
    background-color:#e2dfdce8 ;
}

nav{
    text-align: center;
    list-style-type:none;
    width: 100%;
    font: normal;
    font-family: Verdana, serif ;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: red;
    font-size: larger;
    padding-right: 20px;
    padding-left: 20px;
    }

.headline{
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 50px;
}

.columns{
    text-align: center;
    justify-content: center;
    width: 100%;
    left: 0;
}

.firstcolumn{
    padding-left: 10px;
    background: #e2dfdce8;
    float: left;
    width: 33%;
}


.secondcolumn{
    float: left;
    background: #e2dfdce8;
    width: 33%;
}

.thirdcolumn{
    background: #e2dfdce8;
    float: left;
    width: 33%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: rgb(10, 10, 10);
    text-align: center;
}

footer a:hover {
    color:green;
}

footer a:visited {
    color:rgb(32, 1, 1);
}