body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
    background-color:#c6ddf8e8 ;
}

.headline{
    text-align: center;
    font-size: xx-large;
    font-weight:normal;
    line-height:140%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.navbar{
    position: fixed;
    text-align: center;
    list-style-type:none;
    width: 100%;
    font: normal;
    font-family:Verdana, Tahoma, sans-serif ;
    background-color: #c6ddf8e8;
    z-index: 1;

}

.sidebar{
    margin-top: 110px;
    border-radius: 4px;
    border-color: blanchedalmond;
    border-style:groove;
    margin:5;
    width:300px;
    float: left;
    margin-left:1%;
    position:relative;
    padding: 3px;
    text-align: left;
}


.main{
    
    background-color: rgb(134, 169, 235);
    border: blanchedalmond;
    border-radius: 6px;
    text-align: center;
    margin-left: 26%;
    margin-right:26%;
    border-style:outset ;

}


.sidebar2{
    margin-top: 110px;
    border-radius: 4px;
    border-color: blanchedalmond;
    border-style:groove;
    margin:5;
    width:300px;
    float: right;
    margin-right:1%;
    position:sticky;
    padding: 3px;
    text-align: left;
    left:500px
}
.article{
    
    text-align: center;
}

.attitle{
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: rgb(37, 37, 37);
    text-decoration-line: underline;
}

.footer{
  text-transform: lowercase;
  text-align-last: center;
}
